<%= form_with model: article, local: false do |f| %>
  
  <div>
    <% if article.errors.any? %>
      <ul id='article-errors'>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>

    <% end %>
  </div>
 
 <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>

  <div>
    <%= f.submit :Save %>
  </div>

<% end %>